::-webkit-scrollbar {
    width: 7px;
    background-color: beige;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, rgb(0, 119, 255), rgb(71, 200, 255), rgb(0, 119, 255));
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, rgba(0, 195, 255, 0.575), white, rgba(0, 195, 255, 0.575));
}

html {
    scroll-behavior: smooth;
}

/* NAVIGATION */
.wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgb(0, 115, 255), rgb(0, 195, 255));
    align-items: center;
    font-size: 20px;
    padding: 15px;
    justify-content: space-between;
    box-shadow: 0 -2px 0 5px rgb(255, 255, 255), inset 0 10px 1px rgb(2, 0, 94), 0 5px 50px 0 rgba(0, 0, 0, 0.5);
    z-index: 49;
}

.brand {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.firstname a {
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.489);
    color: rgba(0, 255, 251, 0.899);
    font-weight: 250;
}

.lastname a {
    margin-left: 7.5px;
    color: rgb(255, 255, 255);
    font-weight: 550;
}

.brand-logo a {
    display: flex;
    width: 50px;
    height: 50px;
    position: relative;
    transform: translateX(-30px);
}

.brand-logo a img {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.693))
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-5%);
}

.navigation>li {
    display: flex;
    list-style-type: none;
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 100px;
}

.navigation>li>a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
}

.navigation>li>a.active {
    color: rgba(0, 255, 251);
    position: relative;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    transition: all .1s;
}

.brand .lastname,
.navigation li a {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.brand .firstname {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.navigation>li>a:hover {
    color: rgba(0, 255, 251, 0.662);
    transition: all .3s ease-in-out;
}

.login {
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin-left: 45px;
}

.login p {
    display: flex;
    margin-right: 60px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.653);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.575);
}

.login a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 65px;
    width: 70px;
    height: 35px;
    background-color: rgba(2, 0, 94, 0.719);
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 195, 255, 0.575);
    text-decoration: none;
}

.login a:hover {
    background-color: aqua;
    color: rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in-out;
}

.login h3 {
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    transform: translateX(20px);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.575);
    transition: all .3s;
    background-color: rgba(2, 0, 94, 0.719);
    width: 60%;
    border-radius: 50px;
    text-shadow: 1px 1px 1px rgba(0, 195, 255, 0.575);
    transition: all .3s;
}

.login h3:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgb(125, 249, 255), rgb(159, 250, 255),rgb(125, 249, 255));
    color: rgba(0, 0, 0, 0.653);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.575);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1) translateX(20px);
}

.garis {
    height: 130px;
    width: 10px;
    background-color: rgb(2, 0, 94);
    margin-left: 275px;
    transform: translateX(30px);
}

.search {
    margin-top: 50px;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgba(1, 196, 255, 0.575), rgb(58, 196, 255), rgba(38, 226, 255, 0.575));
    border-radius: 20px;
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.155), 0 -5px 100px rgba(0, 0, 0, 0.166);
}

.search i {
    margin-right: 10px;
    margin-left: 20px;
    color: rgb(57, 57, 57);
}


.search-input {
    font-size: 16px;
    background: transparent;
    width: 340px;
}

.search input {
    color: rgb(78, 78, 78);
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 2.5%;
    width: 250px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(194, 241, 255), rgb(214, 245, 255), rgb(194, 241, 255));
    padding: 20px;
    margin: 10px;
}

.sub-menu hr {
    background-color: rgba(0, 0, 0, .5);
    height: 1px;
    width: 100%;
    margin: 5px 0 10px;
}

.sub-menu-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 7px 0 5px;
}

.sub-menu-icon {
    background: rgba(0, 195, 255, 0.575);
    border-radius: 50%;
    padding: 8px;
    margin-right: 16px;
    transition: all .3s;
}

.sub-menu-icon:hover {
    background: rgb(27, 130, 255);
    color: rgb(255, 254, 238);
}

.sub-menu-links p {
    width: 100%;
    font-size: 16px;
    margin-left: 4px;
}

.sub-menu-links span {
    font-size: 19px;
    transition: transform .5s;
    margin-right: 13px;
}

.sub-menu-links:hover span {
    font-size: 19px;
    transform: translateX(5px);
}

.sub-menu-links:hover span#ssub2,
.sub-menu-links:hover span#ssub3 {
    font-size: 19px;
    transform: translateX(5px);
}

.sub-menu-links:hover p {
    font-weight: 550;
}

.sub-menu-links#sub2,
.sub-menu-links#sub3 {
    transform: translateX(2px);
}

.sub-menu-links span#ssub2,
.sub-menu-links span#ssub3 {
    transform: translateX(-2px);
}

.sub-menu-links#sub4 {
    width: 100%;
    font-size: 16px;
    margin-left: 4px;
    background-color: transparent;
}

.sub-menu-links#sub4 span {
    margin-right: 20px;
}

.sub-menu-links#sub4 p {
    transform: translateX(-22px);
}

.sub-menu-links#sub4 .sub-menu-icon {
    transform: translateX(5px);
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info h2 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

/* SECTION HOME START */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../assets/img/dashboard/home-clinic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero .content {
    padding: 1.4rem 10%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 6em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.hero .content h1 span {
    color: aqua;
}

.hero .content p {
    font-size: 1.4rem;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.hero .content .cta {
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    background-color: rgba(11, 235, 255, 0.599);
    border-radius: 20px;
}

.hero .content .cta:hover {
    background-color: rgba(0, 174, 255, 0.803);
    color: rgb(255, 255, 255);
    transition: all .3s ease-in-out;
}

.doctor_main {
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateX(-50%);
    max-width: 50%;
    width: 400px;
    height: 250px;
    border-radius: 50px;
    box-shadow: 0 0 0 5px rgb(255, 255, 255), 5px 5px 100px 0 rgba(0, 0, 0, 0.5);
}

/* SECTION HOME END */

/* SECTION ABOUT START */
.about {
    min-height: 100vh;
    align-items: center;
    background-image: url("../assets/img/dashboard/about-clinic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 8rem 7% 1.4rem;
}

.about h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    margin-top: 5%;
    color: azure;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    background-color: rgba(2, 56, 111, 0.925);
    border-radius: 35px;
    width: 25rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: relative;
}

.about h2 span {
    color: aqua;
}

.about .box_1 {
    position: absolute;
    top: 26%;
    left: 32%;
    transform: translateX(-50%);
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.about .box_1 p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-shadow: 2px 2px 10px rgba(47, 137, 255, 0.504);
    margin-top: 30px;
    padding: 20px;
    text-align: justify;
}

.about .box_1 .min-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 50px;
    background-color: aqua;
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: 1000;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.489);
}

.about .box_1 .min-box1 .tooltip1 {
    visibility: hidden;
    opacity: 0;
    top: 15%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: absolute;
    background-color: rgba(0, 204, 255, 0.950);
    width: 400px;
    height: 150px;
    display: flex;
    color: white;
    border-radius: 75px;
    text-align: justify;
    font-weight: 550;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.662);
    box-shadow: 0 0 0 4px rgba(0, 115, 255, 0.950);
    transition: opacity 0.5s ease-in-out;
}

.about .box_1 .min-box1:hover .tooltip1 {
    visibility: visible;
    opacity: 1;
}

.about .box_1 .min-box1:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.662);
    color: white;
    transition: all .3s ease-in-out;
}

.about .box_2 {
    position: absolute;
    top: 26%;
    left: 68%;
    transform: translateX(-50%);
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.about .box_2 p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-shadow: 2px 2px 10px rgba(47, 137, 255, 0.504);
    margin-top: 30px;
    padding: 20px;
    text-align: justify;
}

.about .box_2 .min-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 50px;
    background-color: aqua;
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: 1000;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.489);
}

.about .box_2 .min-box2 .tooltip2 {
    visibility: hidden;
    opacity: 0;
    top: 15%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: absolute;
    background-color: rgba(0, 204, 255, 0.950);
    width: 400px;
    height: 150px;
    display: flex;
    color: rgb(255, 255, 255);
    border-radius: 75px;
    text-align: justify;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.662);
    font-weight: 550;
    box-shadow: 0 0 0 4px rgba(0, 115, 255, 0.950);
    transition: opacity 0.5s ease-in-out;
}

.about .box_2 .min-box2:hover .tooltip2 {
    visibility: visible;
    opacity: 1;
}

.about .box_2 .min-box2:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.662);
    color: white;
    transition: all .3s ease-in-out;
}

/* SECTION ABOUT END */

/* SECTION DOCTOR START */
.doctor {
    min-height: 100vh;
    align-items: center;
    position: relative;
    padding: 8rem 7% 1.4rem;
}

.doctor .content h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    margin-top: 5%;
    color: azure;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    background: linear-gradient(to left, rgba(0, 195, 255, 0.575), white);
    border-radius: 35px;
    width: 25rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.doctor .content h1 span {
    color: rgb(0, 195, 255);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.703);
}

.doctor .content h2 {
    margin-top: -40px;
    text-align: center;
    font-size: 1.2rem;
    color: azure;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slider {
    margin-top: 40px;
    position: relative;
}

.slider .slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #0000ff;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider .slide-button:hover {
    background: #00d9ff;
}

.slider .slide-button#prev-slide {
    left: -20px;
    display: none;
}

.slider .slide-button#next-slide {
    right: -20px;
}


.slider .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 30px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider .image-list::-webkit-scrollbar {
    display: none;
}

.slider .image-list .image-item img {
    width: 275px;
    height: 350px;
    object-fit: cover;
}

.slider .image-list .image-item img:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.325);
    transform: scale(1.1);
    transition: all .1s;
}

.slider .image-list .image-item>ul>li {
    align-items: left;
    text-align: left;
    margin-bottom: 10px;
}

.slider .image-list .image-item>ul>li::before {
    content: "\2023";
    /* Menambahkan bullets */
    color: #00a2ff;
    /* Warna bullets */
    display: inline-block;
    width: 1em;
    /* Lebar bullets */
    margin-left: -1em;
    /* Mengatur posisi bullets */
    margin-right: 5px;
    /* Memberi jarak antara bullets dan teks */
}

.content .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 5px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #0000ff;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* SECTION DOCTOR END */

/* SECTION GARIS BIRU START */
.garisBiru {
    font-size: 5rem;
    display: flex;
    height: 225px;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(0, 195, 255, 0.575), rgb(255, 255, 255));
    color: rgba(0, 0, 0, 0.66);
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 30px 7px rgba(0, 0, 0, 0.481);
}

.garisBiru img {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.66))
}

.garisBiru img:hover {
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.66));
    transition: all .3s;
    transform: scale(1.2);
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 10px #00ffd9, 0 0 20px #00ffd9, 0 0 30px #00ffd9;
    }

    100% {
        text-shadow: 0 0 20px #00bbff, 0 0 30px #00bbff, 0 0 40px #00bbff;
    }
}

.garisBiru h1 {
    animation: glowing 2.5s infinite alternate;
}

.logoDiGaris {
    height: 150px;
    width: 150px;
    margin-left: 50px;
}

/* SECTION GARIS BIRU END */

/* SECTION EDUKASI MEDIS START */
.medis {
    min-height: 100vh;
    align-items: center;
    position: relative;
    padding: 8rem 7% 1.4rem;
}

.medis .content h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    margin-top: 5%;
    color: azure;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    background: linear-gradient(to left, rgba(0, 115, 255, 0.575), rgb(160, 234, 255));
    border-radius: 35px;
    width: 25rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.medis .content h2 {
    margin-top: -40px;
    text-align: center;
    font-size: 1.2rem;
    color: azure;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.artikel_container {
    display: flex;
    margin-top: 40px;
    gap: 25px;
    flex-wrap: wrap;
}

.artikel {
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.artikel img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 210px;
    object-fit: cover;
}

.artikel img:hover {
    transform: scale(1.1);
    transition: all .2s ease-in;
}

.artikel:hover {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.47);
}

.artikel-body {
    padding: 15px 20px 20px;
}

.artikel-judul {
    font-size: 20px;
    font-weight: 550;
    color: #333;
}

.artikel-text {
    text-align: justify;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

/* SECTION EDUKASI MEDIS END */

/* SECTION POPUP START */
.popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.popup-content {
    width: 50%;
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.25);
    opacity: 0;
    transition: all .5s .1s;
}

#popup1:target {
    visibility: visible;
    opacity: 1;
}

#popup1:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#popup2:target {
    visibility: visible;
    opacity: 1;
}

#popup2:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#popup3:target {
    visibility: visible;
    opacity: 1;
}

#popup3:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#popup4:target {
    visibility: visible;
    opacity: 1;
}

#popup4:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#popup5:target {
    visibility: visible;
    opacity: 1;
}

#popup5:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#popup6:target {
    visibility: visible;
    opacity: 1;
}

#popup6:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#popup7:target {
    visibility: visible;
    opacity: 1;
}

#popup7:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#popup8:target {
    visibility: visible;
    opacity: 1;
}

#popup8:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#popup9:target {
    visibility: visible;
    opacity: 1;
}

#popup9:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#popup10:target {
    visibility: visible;
    opacity: 1;
}

#popup10:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#popup11:target {
    visibility: visible;
    opacity: 1;
}

#popup11:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#popup12:target {
    visibility: visible;
    opacity: 1;
}

#popup12:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-image {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.popup-image img {
    display: block;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.popup-judul {
    text-align: center;
    text-transform: uppercase;
    color: #555;
    margin-bottom: 36px;
}

.popup-judul h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.popup-text {
    padding: 0 25px;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: justify;
}

.popup-text p {
    text-indent: 30px;
}

.popup-text p:not(:last-child) {
    margin-bottom: 16px;
}

.popup-close:link,
.popup-close:visited {
    position: absolute;
    top: 12px;
    right: 20px;
    text-decoration: none;
    color: #000;
    font-size: 30px;
    display: inline-block;
    line-height: 1;
    transform: all .3s;
}

.popup-close:hover,
.popup-close:active {
    color: #555;
}

/* SECTION POPUP END */

/* SECTION POPUP DOCTOR START */
.doctor-popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
}

.doctor-popup-content {
    border-radius: 50px;
    margin-left: 170px;
    width: 75%;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(to bottom, rgb(0, 115, 255), rgb(0, 195, 255));
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.438);
    flex-direction: row;
    transform: scale(.25);
    opacity: 0;
    transition: all .5s .1s;
}

.doctor-popup-info {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    width: 500px;
    height: 500px;
    font-size: 2rem;
}

.doctor-popup-info h1 {
    margin-top: 25px;
    color: rgb(113, 222, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.doctor-popup-info>ul {
    margin-top: 20px;
    list-style-type: none;
    line-height: 2.5;
    color: wheat;
    text-shadow: 2px 2px 7px rgba(3, 3, 3, 0.337);
}

.doctor-popup-image {
    margin-top: 40px;
    width: 500px;
    height: 500px;
    margin-left: 60px;
}

.doctor-popup-content .doctor-popup-image img {
    width: 90%;
    height: 90%;
    display: block;
    border-radius: 50px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.37);
}

.doctor-popup-info>ul>li::before {
    content: "\2023";
    color: #0066ff;
    display: inline-block;
    width: 1em;
    margin-left: 1em;
    margin-right: 5px;
}

#doc-asep-injeksi:target {
    visibility: visible;
    opacity: 1;
}

#doc-asep-injeksi:target .doctor-popup-content {
    transform: scale(1);
    opacity: 1;
}

#doc-dadang-turbo:target {
    visibility: visible;
    opacity: 1;
}

#doc-dadang-turbo:target .doctor-popup-content {
    transform: scale(1);
    opacity: 1;
}

#doc-firman-spakbor:target {
    visibility: visible;
    opacity: 1;
}

#doc-firman-spakbor:target .doctor-popup-content {
    transform: scale(1);
    opacity: 1;
}

#doc-lina-klakson:target {
    visibility: visible;
    opacity: 1;
}

#doc-lina-klakson:target .doctor-popup-content {
    transform: scale(1);
    opacity: 1;
}

#doc-sinta-knalpot:target {
    visibility: visible;
    opacity: 1;
}

#doc-sinta-knalpot:target .doctor-popup-content {
    transform: scale(1);
    opacity: 1;
}

#doc-ucup-remot:target {
    visibility: visible;
    opacity: 1;
}

#doc-ucup-remot:target .doctor-popup-content {
    transform: scale(1);
    opacity: 1;
}

#doc-dafa-bohlam:target {
    visibility: visible;
    opacity: 1;
}

#doc-dafa-bohlam:target .doctor-popup-content {
    transform: scale(1);
    opacity: 1;
}

#doc-joni-kabel:target {
    visibility: visible;
    opacity: 1;
}

#doc-joni-kabel:target .doctor-popup-content {
    transform: scale(1);
    opacity: 1;
}

#doc-riri-baskom:target {
    visibility: visible;
    opacity: 1;
}

#doc-riri-baskom:target .doctor-popup-content {
    transform: scale(1);
    opacity: 1;
}

#doc-tuti-ember:target {
    visibility: visible;
    opacity: 1;
}

#doc-tuti-ember:target .doctor-popup-content {
    transform: scale(1);
    opacity: 1;
}

/* SECTION POPUP DOCTOR END */

/* FOOTER START */
footer {
    box-shadow: 0 2px 0 5px rgb(255, 255, 255), 0 3px 50px 0 rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top, rgb(0, 115, 255), rgb(0, 195, 255));
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a {
    color: #fff;
    font-weight: 550;
}

footer .credit a:hover {
    color: rgba(0, 0, 0, 0.514);
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .socials a:hover {
    color: rgba(0, 0, 0, 0.514);
}

footer .links a:hover {
    color: rgba(0, 0, 0, 0.514);
}

footer .links {
    margin-bottom: 1.1rem;
}

footer .links a {
    color: #fff;
    padding: .7rem 1rem;
}

/* FOOTER END */

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {}

/* Tablet */
@media (max-width: 768px) {

    .doctor_main {
        opacity: 0;
    }
}

/* Mobile */
@media (max-width: 500px) {

    *,
    html,
    body {
        font-size: 55%;
    }

    .navigation {
        opacity: 0;
        visibility: hidden;
    }

    .hero .content .cta {
        align-items: center;
        margin: 10px 10px 10px 10px;
        font-size: 3.6rem;
        justify-content: center;
        margin-top: 100px;

    }

    .hero .content {
        justify-content: center;
        align-items: center;
    }

    footer {
        font-size: 7rem;
    }

    footer .credit {
        font-size: 4rem;
    }

    footer .credit a {
        font-size: 2rem;
    }

    footer .links {
        display: flex;
        flex-direction: column;
    }

    footer .socials {
        width: 100%;
        height: 100%;
        font-size: 60px;
    }

    .brand {
        position: absolute;
        display: flex;
        flex-direction: row;
        font-size: 11rem;
        margin-left: 20x;
        margin-bottom: 60px;
        transform: translateY(30px);
        transform: translateX(105px);
    }

    .firstname a {
        color: rgba(0, 0, 0, 0.55);
        font-weight: 550;
        animation: glowing 2.5s infinite alternate;
    }

    .lastname a {
        color: rgba(0, 0, 0, 0.55);
        font-weight: 550;
        animation: glowing 2.5s infinite alternate;
        margin-right: 10px;
    }

    .brand-logo a {
        width: 50px;
        height: 50px;
        position: absolute;
        transform: translateX(340px);
    }

    .search {
        position: absolute;
        margin-top: 10px;
        transform: translateX(-365px);
        height: 35px;
        width: 290px;
    }

    .login {
        visibility: hidden;
    }

    .medis .content h2 {
        font-size: 1.5rem;
        margin-top: 30px;
        color: rgba(57, 57, 57, 0.848);
    }

    .garisBiru {
        height: 150px;
    }

    .garisBiru h1 {
        margin-left: 50px;
        font-size: 5rem;
    }

    .garisBiru h1 span {
        font-size: 5rem;
    }

    .garisBiru img {
        transform: translateX(-50%);
        width: 85px;
        height: 85px;
    }
}
